<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>

    <springProperty scope="context" name="application" source="spring.application.name"/>

<!--    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder class="ch.qos.logback.classic.encoder.JsonEncoder"/>-->
<!--    </appender>-->

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>http://localhost:3100/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>app=${application},level=%level,host=${HOSTNAME},trace_id=%X{traceId:-NONE}</pattern>
            </label>
            <message>
                <pattern>%-5level [%.5(${HOSTNAME})] %applicationName[%15.15t] %.10thread [%mdc] %logger{20} | %msg %ex</pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE"/>
        <appender-ref ref="LOKI"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
